{% extends "NamecoUserBundle:Admin:layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/namecouser/css/user_new.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% form_theme form 'NamecoUserBundle:Form:fields.html.twig' %}	

{% block admin_contents %}
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success">{{flashMessage}}</div>
	{% endfor %}

	<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal" >

		{% set error_name = form_errors(form.family_name) != "" or form_errors(form.first_name) != "" %}
		{% set error_kana = form_errors(form.kana_family) != "" or form_errors(form.kana_first) != "" %}
		{% set error_mail = form_errors(form.email) != "" %}
		{% set error_pass = form_errors(form.password.first) != "" %}
		{% set error_confirm = form_errors(form.password.second) != "" %}

		<div class="control-group {% if error_name %} error {% endif %}">
			<label class="control-label">名前</label>
			<div class="controls">
				{{ form_widget(form.family_name, { 'attr': {'class' : 'span3', 'placeholder': '姓'}})}}
				{{ form_errors(form.family_name) }}
				{{ form_widget(form.first_name, { 'attr': {'class' : 'span3', 'placeholder': '名'}})}}
				{{ form_errors(form.first_name) }}
			</div>
		</div>
		<div class="control-group {% if error_kana %} error {% endif %}">
			<label class="control-label">カナ</label>
			<div class="controls">
				{{ form_widget(form.kana_family, { 'attr': {'class' : 'span3', 'placeholder': '姓'}})}}
				{{ form_widget(form.kana_first, { 'attr': {'class' : 'span3', 'placeholder': '名'}})}}
				{{ form_errors(form.kana_family) }}
				{{ form_errors(form.kana_first) }}
			</div>
		</div>
		<div class="control-group {% if error_mail %} error {% endif %}">
			<label class="control-label">メールアドレス</label>
			<div class="controls">
				{{ form_widget(form.email, { 'attr': {'class' : 'span4'}})}}
				{{ form_errors(form.email) }}
			</div>
		</div>
		<div class="control-group {% if error_pass %} error {% endif %}">
			<label class="control-label">パスワード</label>
			<div class="controls">
				{{ form_widget(form.password.first, { 'attr': {'class' : 'span3'}})}}
				{{ form_errors(form.password.first) }}
			</div>
		</div>
		<div class="control-group {% if error_confirm %} error {% endif %}">
			<label class="control-label">確認用パスワード</label>
			<div class="controls">
				{{ form_widget(form.password.second, { 'attr': {'class' : 'span3'}})}}
				{{ form_errors(form.password.second) }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">権限</label>
			<div class="controls">
				{{ form_widget(form.userRoles, { 'attr': {'class' : 'span3'}})}}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">有効</label>
			<div class="controls">
				{{ form_widget(form.isActive, { 'attr': {'class' : 'span3'}})}}
			</div>
		</div>
		{{ form_rest(form) }}
		<div class="btn-toolbar text-center">
			<div class="btn-group">
				<button class="btn btn-primary" id="submit" type="submit">{% block submit %}{% endblock submit %}</button>
			</div>
			<div class="btn-group">
				<a class="btn" href="{{path('user')}}">キャンセル</a>
			</div>
		</div>
	</form>
{% endblock admin_contents %}
