{% extends 'NamecoSchedulerBundle::base.html.twig' %}

{% block paginationRoute %}establishment_month_id{% endblock %}
{% block calendarRoute %}establishment_select_date{% endblock %}
{% block calendarId %}{{ estab.id }}{% endblock %}
{% block calendarTitle %}
	{% if estab.area is not null %}
		{{ estab.area.name ~ ' ' ~ estab.name }}
	{% else %}
		{{ estab.name }}
	{% endif %}
{% endblock %}
{% block selectCalendarLabel %}施設選択{% endblock %}

{% block select_calendar_menu %}
	{% if areas is not null %}
		{% for area in areas %}
			<li class="dropdown-submenu"><a href="#" tabindex="-1">{{ area.name }}</a>
				<ul class="dropdown-menu">
					{% for es in area.establishments %}
						<li><a tabindex="-1" href="{{ path('establishment_month_id', {'id': es.id, 'year': year, 'month': month}) }}">{{ es.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block createurl %}
	<span id="schedule_new_prefix" style="display:none;">{{ path('schedule_new_establishment_prefix', {'userId': user.id, 'establishmentId': estab.id }) }}</span>
{% endblock %}

