{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/namecoscheduler/css/bootstrap-editable.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/namecoscheduler/css/calendar.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/namecoscheduler/css/navigation.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/namecoscheduler/css/datepicker.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/namecoscheduler/js/bootstrap-editable.min.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('bundles/namecoscheduler/js/bootstrap-datepicker.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('bundles/namecoscheduler/js/locales/bootstrap-datepicker.ja.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('bundles/namecoscheduler/js/navigation.js') }}" charset="utf-8"></script>
{% endblock %}

{% block body %}
	<div id="contents" class="clearfix">
		<div id="left_pane">
			<div id="main_menu">
				<a class="btn btn-primary btn-large" href="{{ path('schedule_month') }}">スケジュール</a>
				<a class="btn btn-primary btn-large" href="{{ path('establishment_month') }}">施設予約</a>
			</div>
			<div id="sub_menu">
				{% block submenu %}
				{% endblock submenu %}
			</div>
		</div>
		
		{% block calendar %}
		{% endblock %}
	</div>
	<span id="schedule_users_url" style="display:none;">{{ path('schedule_users') }}</span>
{% endblock body%}
