{% extends 'NamecoSchedulerBundle::base.html.twig' %}

{% block paginationRoute %}schedule_month_id_ym{% endblock %}
{% block calendarRoute %}schedule_selected_month{% endblock %}
{% block calendarId %}{{user.id}}{% endblock %}
{% block calendarTitle %}{{user.name}}{% endblock %}
{% block selectCalendarLabel %}ユーザ選択{% endblock %}

{% block select_calendar_menu %}
	{% for u in users %}
		<li><a tabindex="-1" href="{{ path('schedule_month_id_ym', {'id': u.id, 'year': year, 'month': month}) }}">{{ u.name }}</a></li>
	{% endfor %}
{% endblock %}

{% block createurl %}
    <span id="schedule_new_prefix" style="display:none;">{{ path('schedule_new_prefix', {'userId': user.id }) }}</span>
{% endblock %}
