<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% stylesheets  '../app/Resources/public/css/navigation.css'
                '../app/Resources/public/css/datepicker.css'%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}

{% javascripts "../app/Resources/public/js/navigation.js"
				 "../app/Resources/public/js/bootstrap-datepicker.js" %}
      <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}

<div id="navigation_left" class="navigation_wrapper">
	<div class="btn-group">
		{% set nowDate = date() %}
	    <a class="btn" href="{{ dispDate|prevPath(routeName, id) }}">←</a>
	    <a class="btn" href="{{ path(routeName, {'id':id, 'year':nowDate|date('Y'), 'month':nowDate|date('m') }) }}">今月</a>
	    <a class="btn" href="{{ dispDate|nextPath(routeName, id) }}">→</a>
	</div>

	<form id="salectDateForm" action="{{ path(selectRouteName) }}" method="post" style="display:inline;">
		<input type="hidden" name="idVal" value="{{id}}"/>
		<input type="hidden" name="y"/>
		<input type="hidden" name="m"/>
	</form>

	<a class="btn" data-date="pickerDate" data-date-format="yyyy-mm-dd" id="selectDateButton" href="#">
		■<!-- <i class="icon-calendar"></i> -->
	</a>
	<span style="padding-left:10px;">{{ dispDate|diplayDate }}</span>
	<span style="padding-left:10px;">{{  dispTargetLabel }}</span>
</div>
<div id="navigation_right"  class="navigation_wrapper">
	<div class="btn-group"></div>
	    <a class="btn" href="{{ dispDate|monthPath(routeName, id) }}">月</a>
		<!--<a class="btn" href="{{ dispDate|monthPath(routeName, id) }}">週</a>-->
	</div>
<div id="navigation_wrapper">


