{% extends 'NamecoUserSchedulerBundle::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/namecouserscheduler/css/calendar_month.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/namecouserscheduler/css/schedule.css') }}" rel="stylesheet" type="text/css" />
	{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/namecouserscheduler/js/calendar_month.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/namecouserscheduler/js/schedule.js') }}" type="text/javascript"></script>
{% endblock %}

{% block calendar %}

{% block navigation %}
{% endblock %}

<div id="calendar_pane">
	<ul id="schedules" style="display: none">
		{% for s in schedules %}
		<li>
			<div class="title">{{ s.title }}</div>
			<div class="id">{{ s.id }}</div>
			<div class="start_date">{{ s.startDatetime|date("Ymd") }}</div>
			<div class="start_time">{{ s.startDatetime|date("H:i") }}</div>
			<div class="end_date">{{ s.endDatetime|date("Ymd") }}</div>
			<div class="end_time">{{ s.endDatetime|date("H:i") }}</div>
		</li>
		{% endfor %}
	</ul>
	<ul id="weekday" class="clearfix">
		<li>月</li>
		<li>火</li>
		<li>水</li>
		<li>木</li>
		<li>金</li>
		<li>土</li>
		<li>日</li>
	</ul>
	<div id="grid_pane">
		<table id="calender_bg" class="">
			<thead>
				<tr>
					{% for n in 0..6 %} <th class="bg_week_{{ n }}">&nbsp;</th> {% endfor %}
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for n in 0..6 %} <td class="bg_week_{{ n }}">&nbsp;</td> {% endfor %}
				</tr>
			</tbody>
		</table>
		{% set h_date = start %}
		{% for i in 1..week %}
			<div class="week_row">
				<table class="week_schedule_row" id="table_{{ i }}">
					<thead>
						<tr class="date_row" id="week_{{ i }}">
							{% for n in 0..6 %}
								<th id="date_{{ h_date|date("Ymd") }}" class="weekday_{{ n }} weekday">{{ h_date|date("m月d日") }}</th>
								{% set h_date = h_date|date_modify("+1 day") %}
							{% endfor %}
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		{% endfor %}
	</div>
</div>

<div id="register-modal" class="modal hide fade"></div>
{% endblock %}